<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>ashu_dev</title>
  <link rel="icon" href="/favicon.ico">
  <script defer="defer" src="/scripts/runtime.59c88.bundule.js"></script>
  <script defer="defer" src="/scripts/main.650cd.bundule.js"></script>
  <link href="/styles/main.ae37b.css" rel="stylesheet">
</head>

<body>
  <div>HI {{ data }}</div>
  <div id="app"></div>
  <!-- <script>if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker
          .register('/sw.js')
          .then((registration) => {
            console.log('Service Worker 注册成功:', registration);
          })
          .catch((error) => {
            console.error('Service Worker 注册失败:', error);
          });
      });
    }</script> -->
</body>

</html>